@import 'variables';

@media (max-width: 425px) {
  .center {
    padding-left: $gap / 2;
    padding-right: $gap / 2;
  }

  .top {
    max-width: 425px;
    height: 735px;
    &__header {
      justify-content: center;
      &__h1 {
        max-width: 343px;
        padding-top: 239px;
        text-align: center;
        font-size: 2rem;
      }
      &__text {
        max-width: 343px;
        margin-bottom: $gap;
        font-size: .875rem;
        text-align: center;
      }
      &__button {
        margin-left: 54px;
        margin-right: 55px;
      }
    }
  }

  .content {
    height: 1221px;
    flex-wrap: wrap;
    &__game {
      width: 343px;
    }
  }

  .game {
    height: 654px;
    flex-direction: column;
    gap: $gap * 2;
    justify-content: center;
    align-items: center;
    &__tBlock {
      width: 343px;
      justify-content: center;
      align-items: center;
      &__header {
        font-size: 2rem;
        text-align: center;
      }
      &__text {
        font-size: 0.875rem;
        text-align: center;
      }
    }
    &__pBlock {
      width: 343px;
    }
  }

}