* {
  margin: 0;
  padding: 0;
}

.center {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

body {
  font-family: "Montserrat", sans-serif;
  color: white;
}

.top {
  max-width: 1440px;
  height: 1024px;
  background-image: url("img/top-background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.top__header__h1 {
  width: 789px;
  padding-top: 217px;
  padding-bottom: 32px;
  font-size: 4rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.top__header__text {
  width: 481px;
  font-size: 1.125rem;
  font-weight: 300;
  line-height: 32px;
  margin-bottom: 57px;
}
.top__header__text-select {
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
}
.top__header__button {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
  width: 234px;
  height: 48px;
  border-radius: 30px;
  background: #9C0332;
  transition: all, 0.3s;
}
.top__header__button:hover {
  background: #EB443F;
}

.background1 {
  background-image: url("img/game-background1.jpeg");
}

.background2 {
  background-image: url("img/game-background2.jpeg");
}

.background3 {
  background-image: url("img/game-background3.jpeg");
}

.content {
  max-width: 1440px;
  height: 556px;
  display: flex;
  gap: 32px;
  justify-content: center;
  background: #000915;
}
.content__game {
  width: 370px;
  height: 300px;
  display: flex;
  justify-content: left;
  align-items: end;
  border: 3px solid transparent;
  border-radius: 19px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-decoration: none;
  transition: all, 0.3s;
}
.content__game__name {
  font-size: 1.5rem;
  color: white;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
  padding-left: 32px;
  padding-bottom: 32px;
}
.content__game:hover {
  border: 3px solid #44D2FF;
}

.game {
  height: 800px;
  max-width: 1440px;
  background: #000915;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.game__tBlock {
  width: 584px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
}
.game__tBlock__header {
  font-size: 3rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.game__tBlock__text {
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 300;
  line-height: 2rem;
}
.game__tBlock__button {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
  text-align: center;
  width: 234px;
  height: 48px;
  border-radius: 30px;
  background: #9C0332;
  transition: all, 0.3s;
}
.game__tBlock__button:hover {
  background: #EB443F;
}
.game__pBlock {
  width: 435px;
  height: 333px;
}
.game__pBlock__picture {
  width: 100%;
}

@media (max-width: 375px) {
  .center {
    padding-left: 16px;
    padding-right: 16px;
  }
  .top {
    max-width: 375px;
    height: 735px;
  }
  .top__header {
    justify-content: center;
  }
  .top__header__h1 {
    max-width: 343px;
    padding-top: 239px;
    text-align: center;
    font-size: 2rem;
  }
  .top__header__text {
    max-width: 343px;
    margin-bottom: 32px;
    font-size: 0.875rem;
    text-align: center;
  }
  .top__header__button {
    margin-left: 54px;
    margin-right: 55px;
  }
  .content {
    height: 1221px;
    flex-wrap: wrap;
  }
  .content__game {
    width: 343px;
  }
  .game {
    height: 654px;
    flex-direction: column;
    gap: 64px;
    justify-content: center;
    align-items: center;
  }
  .game__tBlock {
    width: 343px;
    justify-content: center;
    align-items: center;
  }
  .game__tBlock__header {
    font-size: 2rem;
    text-align: center;
  }
  .game__tBlock__text {
    font-size: 0.875rem;
    text-align: center;
  }
  .game__pBlock {
    width: 343px;
  }
}

/*# sourceMappingURL=style.css.map */
