@import 'variables';

* {
  margin: 0;
  padding: 0;
}

.center {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

body {
  font-family: 'Montserrat', sans-serif;
  color: $colorText;
}

.top {
  max-width: 1440px;
  height: 1024px;
  background-image: url("img/top-background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  &__header {
    &__h1 {
      width: 789px;
      padding-top: 217px;
      padding-bottom: $gap;
      font-size: 4rem;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }
    &__text {
      width: 481px;
      font-size: 1.125rem;
      font-weight: 300;
      line-height: 32px;
      margin-bottom: 57px;
      &-select {
        font-style: normal;
        font-weight: 700;
        line-height: 32px;
      }
    }
    &__button {
      display: flex;
      justify-content: center;
      align-items: center;
      color: $colorText;
      font-size: 1.125rem;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      text-decoration: none;
      width: 234px;
      height: 48px;
      border-radius: 30px;
      background: $buttonBackgroundColorMain;
      transition: all, .3s;
      &:hover {
        background: $buttonBackgroundColorHover;
      }
    }
  }
}

.background1 {
  background-image: url("img/game-background1.jpeg");
}

.background2 {
  background-image: url("img/game-background2.jpeg");
}

.background3 {
  background-image: url("img/game-background3.jpeg");
}

.content {
  max-width: 1440px;
  height: 556px;
  display: flex;
  gap: $gap;
  justify-content: center;
  background: $backgroundColor;
  &__game {
    width: 370px;
    height: 300px;
    display: flex;
    justify-content: left;
    align-items: end;
    border: 3px solid transparent;
    border-radius: 19px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-decoration: none;
    transition: all, .3s;
    &__name {
      font-size: 1.5rem;
      color: $colorText;
      font-style: normal;
      font-weight: 600;
      line-height: 32px;
      padding-left: $gap;
      padding-bottom: $gap;
    }
    &:hover {
      border: 3px solid $gameBorderColor;
    }
  }
}

.game {
  height: 800px;
  max-width: 1440px;
  background: $backgroundColor;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  &__tBlock {
    width: 584px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    &__header {
      font-size: 3rem;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }
    &__text {
      font-size: 1.125rem;
      font-style: normal;
      font-weight: 300;
      line-height: 32px; /* 177.778% */
    }
    &__button {
      display: flex;
      justify-content: center;
      align-items: center;
      color: $colorText;
      font-size: 1.125rem;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      text-decoration: none;
      text-align: center;
      width: 234px;
      height: 48px;
      border-radius: 30px;
      background: $buttonBackgroundColorMain;
      transition: all, .3s;
      &:hover {
        background: $buttonBackgroundColorHover;
      }
    }
  }
  &__pBlock {
    width: 435px;
    height: 333px;
    &__picture {
      width: 100%;
    }
  }
}

@import 'mobile';